.Header {
    height: 6vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

.HeaderLeft {
    height: 100%;
    margin-right: auto;
}

.HeaderRight {
    height: 100%;
    margin-left: auto;
}

.HeaderRightNav {
    margin: 0;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.HeaderRightNavList {
    list-style: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.HeaderRightNavList > li {
    margin-right: 5%;
}
