@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Wrap {
    height: 94vh;
    background-color: gray;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

.WrapLeft {
    margin-left: 5%;
    margin-right: auto;
}

.WrapRight {
    margin-right: 10%;
    margin-left: auto;

    text-align: right;
}
