@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
    font-family: "Noto Sans KR", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

.Button {
    padding: 5px 10px;
    border-radius: 5px;

    white-space: nowrap;
}

.BigButton {
    font-size: medium;
    padding: 7px 20px;
}

.MenuButton {
    background-color: transparent;
    border-color: #005424;
    color: #005424;
    transition: linear 0.2s;
}

.MenuButton:hover {
    background-color: #005424;
    color: white;
}

.ActiveMenuButton {
    background-color: #005424;
    color: white;
    transition: linear 0.2s;
}

.ActiveMenuButton:hover {
    background-color: transparent;
    border-color: #005424;
    color: #005424;
}

.SecondaryButton {
    background-color: transparent;
    border-color: gray;
    color: gray;
    transition: linear 0.2s;
}

.SecondaryButton:hover {
    background-color: gray;
    color: white;
}
